@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap');
.taskboard {
  height: 86vh;
  width: 85vw;
  background: #101522;
  padding-left: 1.8vw;
  padding-top: 4vh;
}

.taskboard__navbar {
  margin-bottom: 3vh;
  display: flex;
}

.taskboard__content {
  background-color: #101522;
  height: 74vh;
  width: 79vw;
  overflow-x: overlay;
  overflow-y: hidden;
  white-space: nowrap;
}

.taskboard__content::-webkit-scrollbar {
  height: 8px;
}
.taskboard__content::-webkit-scrollbar-track {
  background: #101522;
}
.taskboard__content::-webkit-scrollbar-thumb {
  background: #5bc0eb;
  border-radius: 2.5vh;
}

.pop {
  animation: pop 1s forwards;
  -webkit-animation: pop 1s forwards;
  animation-delay: 1s;
}

@-webkit-keyframes pop {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.drop__down {
  animation: drop-down 1s forwards;
  -webkit-animation: drop-down 1s forwards;
  animation-delay: 1s;
}

@-webkit-keyframes drop-down {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -webkit-transform: translateY(0%);
  }
}

@keyframes drop-down {
  0% {
    opacity: 0;
    transform: scale(0.8);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0%);
  }
}

.taskboard__taskBoard {
  display: inline-block;
  border-radius: 2.5vh;
  height: 71.5vh;
  width: 25vw;
  margin-right: 1.5vw;
  overflow: hidden;
  opacity: 0;
}

.taskboard__red {
  background-color: #fa5959;
  border-radius: 2.5vh;
  height: 100%;
  width: 100%;
}

.taskboard__green {
  background-color: #42ffd2;
  height: 100%;
  width: 100%;
}

.taskboard__purple {
  background-color: #8a42ff;
  border-radius: 2.5vh;
  height: 100%;
  width: 100%;
}

.taskboard__yellow {
  background-color: #fbff42;
  border-radius: 2.5vh;
  height: 100%;
  width: 100%;
}

.taskboard__header {
  color: #101522;
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: 'Montserrat';
  font-weight: 650;
  font-size: 1.2vw;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskboard__headerButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskboard__addTask {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.taskboard__deleteBoard {
  margin-left: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.taskboard__taskList {
  height: 90%;
  width: 100%;
  background-color: #1f2430;
  border-radius: 0vh 0vh 2.5vh 2.5vh;
  padding-top: 0.5vw;
}
