.app__flexSidebar {
  display: flex;
}

.ball {
  width: 10vh;
  height: 10vh;
  background-color: #ff8c42;
  border-radius: 50%;
  animation: bounce 3s cubic-bezier(0.1, 0.25, 1, 0.25);
}

@keyframes bounce {
  60%,
  80%,
  to {
    transform: translateY(400px);
    animation-timing-function: ease-out;
    background-color: black;
  }
  70% {
    transform: translateY(300px);
  }
  90% {
    transform: translateY(360px);
  }
}
