.app__flexSidebar {
  display: flex;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: #101522;
}
::-webkit-scrollbar-thumb {
  background: #101522;
  border-radius: 2.5vh;
}
