.team {
  height: 86vh;
  width: 85vw;
  background: #121212;
  padding-left: 1.8vw;
  padding-top: 4vh;
  overflow: hidden;
}

.team__navbar {
  margin-bottom: 3vh;
  display: flex;
}

.team__content {
  background-color: #121212;
  height: 72vh;
  width: 79vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team__contentLeft {
  background-color: #121212;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.team__projectOwner {
  background-color: #252525;
  height: 21%;
  width: 100%;
  border-radius: 2.5vh;
  color: #f2f2f2;
}

.team__projectOwnerName {
  display: flex;
  align-items: center;
  font-size: 1.3vw;
  margin-left: 1vw;
  margin-top: 0.5vh;
  cursor: pointer;
}

.team__collaborators {
  background-color: #252525;
  height: 74%;
  width: 100%;
  border-radius: 2.5vh;
  color: #f2f2f2;
  transform: translateY(110%);
  -webkit-transform: translateY(110%);
}

.team__header {
  width: 100%;
  height: 6.5vh;
  display: flex;
  align-items: center;
  margin-left: 1vw;
  font-family: 'Montserrat';
  font-size: 1.25vw;
}

.team__collaboratorsContent {
  height: 88%;
  width: 100%;
}

.team__members {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__member {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1vh;
  margin-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  width: 98%;
  font-size: 1.2vw;
  border-radius: 0.5vw;
}

.team__buttondrop {
  border: 1px solid #ff8c42;
  border-radius: 1.5vh;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  width: 11vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f2f2f2;
  font-size: 2vh;
  height: 3vh;
}

.team__buttondropText {
  margin-left: 1vh;
}

.team__icon {
  color: #ff8c42;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1vh;
}

.team__member:hover {
  background: #525252;
}

.team__profileGroup {
  padding-left: 1vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0.5;
}

.team__memberName {
  margin-left: 2.5vw;
  max-width: 15vw;
}

.team__functions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.5;
  margin-right: 1vw;
}

.team__contentRight {
  background-color: #252525;
  height: 100%;
  width: 22.5%;
  border-radius: 2.5vh;
  transform: translateX(110%);
  -webkit-transform: translateX(110%);
}

.team__noProfile {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5f5f5f;
  font-size: 1.1vw;
}

.team__selectedMember {
  display: flex;
  align-items: center;
  color: #f2f2f2;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-top: 6vh;
}

.team__selectedName {
  margin-top: 2.5vh;
  color: #f2f2f2;
  font-size: 1.4vw;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2vh;
}

.team__selectedInfo {
  width: 100%;
  padding-left: 2vw;
}

.team__selectedTitle {
  margin-top: 3vh;
  margin-bottom: 1.5vh;
  color: #ff8c42;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.95vw;
}

.team__selectedData {
  margin-top: 1vh;
  margin-bottom: 1vh;
  color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.95vw;
}
