/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');*/
.landingNav {
  height: 9.75vh;
  width: 98.72vw;
  background: #101522;
  border-bottom: 0.25vh solid #5bc0eb;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.landingNav__container {
  margin: 0vw 9vw;
  width: 80.72vw;
  height: 9.75vh;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landingNav__leftSide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35vw;
}

.landingNav__logo {
  font-family: 'Righteous';
  font-size: 5vh;
  color: #5bc0eb;
}

.landingNav__Menu {
  margin-top: 1vh;
  color: #f5f9e9;
  font-size: 2.2vh;
  font-family: 'Montserrat';
  display: flex;
  align-items: center;
  width: 20vw;
  justify-content: space-between;
}

.landingNav__rightSide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingNav__outlineButton {
  height: 5vh;
  width: 7vw;
  border-radius: 3vh;
  border: 1px solid #5bc0eb;
  color: #f5f9e9;
  font-family: 'Montserrat';
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
}

.landingNav__line {
  width: 0.05vh;
  height: 4vh;
  background-color: #7f807d;
  margin: 0vh 0.5vw;
}

.landingNav__filledButton {
  height: 5vh;
  width: 7vw;
  border-radius: 3vh;
  border: 1px solid #5bc0eb;
  background-color: #5bc0eb;
  color: #101522;
  font-family: 'Montserrat';
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
}
