.reviewCard {
  height: 60vh;
  width: 20vw;
  border-radius: 2.5vh;
  background: #101522;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f9e9;
}

.reviewCard__container {
  height: 50vh;
  width: 18vw;
  border-radius: 2.5vh;
  background: #101522;
  color: #f5f9e9;
  box-shadow: 0px 0px 6px #4a4747;
}

.reviewCard__top {
  height: 20vh;
  width: 18vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewCard__bottom {
  height: 30vh;
  width: 18vw;
  display: flex;
  align-items: center;
  margin-top: 1vh;
  flex-direction: column;
}

.reviewCard__review {
  padding: 2vh 2vw;
  font-family: 'Open Sans', sans-serif;
  font-size: 1vw;
}

.reviewCard__name {
  color: #5bc0eb;
  font-family: 'Montserrat';
  font-weight: bold;
}
