.suggest__extraSpace {
  height: 2vh;
}

.suggestion__header {
  width: 24vw;
  margin-bottom: 1vh;
  font-size: 1.8vw;
  color: #5bc0eb;
}

.suggestion__body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 30vh;
}

.suggestion__body::-webkit-scrollbar {
  width: 6px;
}
.suggestion__body::-webkit-scrollbar-track {
  background: #101522;
}
.suggestion__body::-webkit-scrollbar-thumb {
  background: #5bc0eb;
  border-radius: 2.5vh;
}

.suggestion__single {
  display: flex;
  margin-top: 1vh;
  margin-bottom: 2vh;
  margin-right: 1vw;
  padding: 0.5vh;
  cursor: pointer;
  border-radius: 1vh;
  align-items: center;
}

.suggestion__single:hover {
  background: #62656c;
}

.suggestion__user {
  display: flex;
  align-items: center;
}

.suggestion__name {
  margin-left: 1vw;
}

.suggestion__rank {
  width: 5.8vw;
}

.suggestion__rankText {
  margin-left: 0.5vw;
}

.choosen {
  background-color: #5bc0eb;
}

.choosen:hover {
  background-color: #5bc0eb;
}
