@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap');

.signin {
  background-color: #121212;
  height: 100vh;
}

.signin__navbar {
  font-family: 'Righteous', cursive;
  color: #ff8c42;
  margin-left: 10vw;
  font-size: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  cursor: pointer;
}

.signin__bigTextContainer {
  padding-top: 5vh;
  padding-bottom: 3vh;
  margin-left: 10vw;
  padding-bottom: 2vh;
  color: #f2f2f2;
  font-size: 5vh;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.signin__imageContainer {
  padding-top: 3vh;
  margin-left: 10vw;
  height: 50vh;
  width: 40vw;
}

.signin__image {
  padding-top: 3vh;
  height: 50vh;
  width: 40vw;
}

.signin__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signin__contentRight {
  margin-top: 15vh;
  margin-right: 10vw;
}

.signin__form {
  background-color: #f2f2f2;
  border-radius: 3vh;
  color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signin__header {
  font-size: 4vh;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  padding: 3vh;
}

.signin__inputdiv {
  padding: 1vh 3vh;
  font-family: 'Open Sans', sans-serif;
}

.signin__label {
  font-size: 2vh;
  font-weight: 600;
  color: #121212;
  margin-bottom: 1vh;
}

.signin__input {
  height: 3.5vh;
  width: 18vw;
  background: #a3a3a3;
  border: none;
  outline: none;
  padding: 1vh;
  border-radius: 1.5vh;
}

.signin__button {
  margin-top: 3vh;
  background: #ff8c42;
  color: #121212;
  border: none;
  outline: none;
  height: 4vh;
  width: 6vw;
  border-radius: 1vh;
  cursor: pointer;
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
  border-radius: 1vh;
  transition: all 0.3s ease-in-out;
}

.signin__button:hover {
  background: #f2f2f2;
  font-weight: 700;
  color: #ff8c42;
  border: 1px solid #ff8c42;
}

.signin__switchState {
  margin-top: 5vh;
  display: flex;
  margin-bottom: 3vh;
  font-size: 2vh;
}

.signin__orange {
  color: #ff8c42;
  padding-left: 1vh;
}
