.button {
  height: 4.95vh;
  min-width: 7.95vw;
  max-width: 9.95vw;
  background-color: #ff8c42;
  border-radius: 0.7vw;
  font-size: 0.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: 'Open Sans';
  cursor: pointer;
  color: #121212;
  transition: all 0.1s ease-in-out;
  border: 1px solid #ff8c42;
}

.button:hover {
  background: rgba(255, 255, 255, 0);
  color: #ff8c42;
  border: 1px solid #ff8c42;
}
