.button {
  height: 4.95vh;
  min-width: 7.95vw;
  max-width: 9.95vw;
  background-color: #5bc0eb;
  border-radius: 0.7vw;
  font-size: 0.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: 'Montserrat';
  cursor: pointer;
  color: #101522;
  transition: all 0.1s ease-in-out;
  border: 1px solid #5bc0eb;
}

.button:hover {
  background: #101522;
  color: #5bc0eb;
  border: 1px solid #5bc0eb;
}

.greenButton {
  height: 4.95vh;
  min-width: 7.95vw;
  max-width: 9.95vw;
  background-color: #42ff6c;
  border-radius: 0.7vw;
  font-size: 0.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: 'Open Sans';
  cursor: pointer;
  color: #101522;
  transition: all 0.1s ease-in-out;
  border: 0.01vh solid #42ff6c;
}

.greenButton:hover {
  background-color: #1f2430;
  color: #42ff6c;
  border: 0.01vh solid #42ff6c;
}

.redButton {
  height: 4.95vh;
  min-width: 7.95vw;
  max-width: 9.95vw;
  background-color: #1f2430;
  border-radius: 0.7vw;
  font-size: 0.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: 'Open Sans';
  cursor: pointer;
  color: #fa5959;
  transition: all 0.1s ease-in-out;
  border: 0.01vh solid #fa5959;
}

.redButton:hover {
  background-color: #fa5959;
  color: #1f2430;
  border: 0.01vh solid #fa5959;
}

.neutral {
  height: 4.95vh;
  min-width: 7.95vw;
  max-width: 9.95vw;
  background-color: #1f2430;
  border-radius: 0.7vw;
  font-size: 0.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: 'Open Sans';
  cursor: pointer;
  color: #5bc0eb;
  transition: all 0.1s ease-in-out;
  border: 1px solid #5bc0eb;
}

.neutral:hover {
  background-color: rgba(83, 162, 236, 0.904);
  color: #1f2430;
}

.small {
  height: 4vh;
}
