.patternOne {
  height: 75vh;
  width: 98.72vw;
  background: #101522;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.patternOneContainer {
  height: 75vh;
  width: 98.72vw;
  background: #101522;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 80vw;
}

.patternOne__fade {
  height: 75vh;
  width: 98.72vw;
  background: #101522;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 80vw;
}

.patternOne__left {
  margin-left: 9vw;
  color: #f5f9e9;
  width: 35%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.patternTwo__marginLeft {
  margin-left: 0vw;
  margin-right: 9vw;
}

.patternOne__Title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 4.7vh;
  color: #5bc0eb;
}

.patternOne__image {
  height: 50vh;
  width: 40vw;
  margin-right: 9vw;
}

.patternTwo__marginRight {
  margin-right: 0vw;
  margin-left: 9vw;
}
