.task {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  margin-bottom: 2.5vh;
  padding-right: 0vw;
  font-size: 1.1vw;
  width: 100%;
  transition: all 0.3s ease-in-out;
  border-radius: 0.7vw;
}

.extraMargin {
  margin-bottom: 3.5vh;
}

.task::-webkit-scrollbar {
  display: none;
}

.task:hover {
  background-color: #525252;
}

.bullet {
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 1vw;
  margin-right: 0vw;
  margin-top: 0.5vh;
}

.task__text {
  text-align: start;
  flex: 0.8;
  font-size: 0.9vw;
  max-height: 8vh;
  overflow-y: scroll;
  /*width: 70%;*/
}

.task__text::-webkit-scrollbar {
  display: none;
}

.task__image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin-right: 0.5vw;
  margin-left: 0.5vw;
  margin-top: 0.3vh;

  font-size: 0.5vw;
}

.not_active {
  margin-top: 0.5vh;
  padding-left: 0.1vw;
  padding-right: 0.1vw;
  border-radius: 1vw;
  width: 2.2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #949191;
  color: #949191;
  padding-bottom: 0.4vh;
}

.yes_active {
  margin-top: 0.5vh;
  padding-left: 0.1vw;
  padding-right: 0.1vw;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.4vh;
  width: 2.2vw;
  border: 1px solid yellow;
  color: yellow;
}

.done {
  margin-top: 0.5vh;
  padding-left: 0.1vw;
  padding-right: 0.1vw;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.1vw;
  width: 2.2vw;
  border: 1px solid greenyellow;
  color: greenyellow;
}

.noDisplay {
  display: none;
}

.evenly {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.smallText {
  font-size: 0.9vw;
}

.noMargin {
  margin-left: 0vw;
  margin-right: 0vw;
}

.putWhitespace {
  white-space: normal;
}
