.Button {
  border-radius: 50px;
  background: #ff8c42;
  padding: 7px 20px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: #f2f2f2;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.Button:hover {
  transition: all 0.3s ease-in-out;
  background: #ff8c42;
}

.primary {
  background: #ff8c42;
  color: black;
}

.primary:hover {
  background: #f2f2f2;
}

.big {
  padding: 14px 48px;
}

.dark {
  color: #121212;
}

.fontBig {
  font-size: 20px;
}
