.reports {
  height: 86vh;
  width: 85vw;
  background: #121212;
  padding-left: 2vw;
  padding-top: 4vh;
}

.reports__navbar {
  margin-bottom: 3vh;
}

.reports__content {
  background-color: #121212;
  height: 71vh;
  width: 79vw;
}

.reports__summaryRow {
  width: 79vw;
  height: 34.5vh;
  display: flex;
  justify-content: space-between;
  background-color: #121212;
}
.reports__summaryTextGroup {
  height: 100%;
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.reports__summary {
  width: 14vw;
  height: 10vh;
  background-color: #252525;
  border-radius: 1.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2vw;
  padding-right: 2vw;
  font-family: 'Montserrat', sans-serif;
}

.reports__summaryText {
  color: #f2f2f2;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reports__summaryGraph {
  color: #f2f2f2;
  background-color: #252525;
  border-radius: 1.5vh;
  width: 60vw;
}

.reports__rowGraphContent {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reports__bigText {
  font-size: 2vw;
  margin-bottom: 1vh;
}

.reports__summaryIcon {
  color: #c7c7c7;
}

.reports__firstRow {
  width: 79vw;
  height: 34.5vh;
  margin-top: 1.2vw;
  display: flex;
  justify-content: space-between;
}

.reports__rowOneChart {
  width: 25vw;
  height: 34.5vh;
  background: #252525;
  border-radius: 1.5vh;
  color: #f2f2f2;
}

.reports__rowOneContent {
  height: 100%;
  width: 100%;
}

.reports__rowOneTitle {
  font-size: 1.4vw;
  padding: 1vh 1vw;

  font-family: 'Montserrat';
}
