.footer {
  height: 20vh;
  width: 98.72;
  background: #5bc0eb;
  padding: 0vw 9vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #101522;
}

.footer__left {
  width: 20%;
  height: 100%;
  background-color: #5bc0eb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer__logo {
  font-family: 'Righteous';
  font-size: 5vh;
  color: #101522;
  margin-bottom: 1vh;
}

.footer__icons {
  height: 4vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__icon {
  height: 4vh;
  width: 3.5vw;
}

.footer__middle {
  width: 40%;
  height: 100%;
  background-color: #5bc0eb;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1vw;
}

.footer__title {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 1vw;
  margin-bottom: 1vh;
}

.footer__right {
  width: 35%;
  height: 100%;
  background-color: #5bc0eb;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.footer__label {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 1vw;
  margin-bottom: 4vh;
}

.footer__inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer__input {
  width: 70%;
  border: none;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  padding: 0.5em 0.5em 0.5em;
}

.footer__button {
  height: 5vh;
  width: 20%;
  margin-left: 1vw;
  background-color: #f5f9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5vh;
  color: #5bc0eb;
  font-size: 1vw;
}
