.responseModal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(13, 13, 13, 0.7);
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100%;
  z-index: 1015;
}

.responseModal__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #252525;
  flex-direction: column;
  min-height: 30vh;
  min-width: 30vw;
  color: #f2f2f2;
  padding: 2vh 2vw;
  border-radius: 2.5vh;
  border: 1px solid #ff8c42;
}

.responseModal__message {
  margin-top: 1.5vh;
  font-size: 1.5vw;
}
