.responseModal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(13, 13, 13, 0.7);
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100%;
  z-index: 1015;
}

.responseModal__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1f2430;
  flex-direction: column;
  min-height: 25vh;
  min-width: 25vw;
  color: #f5f9e9;
  padding: 2vw 2vw;
  border-radius: 2.5vh;
  border: 1px solid #5bc0eb;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.1vw;
}

.responseModal__message {
  margin-top: 1.5vh;
  font-size: 1.5vw;
}
