.addSprint {
  height: 100vh;
  width: 100vw;
  background-color: rgba(13, 13, 13, 0.7);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addSprint__container {
  min-width: 22.5vw;
  min-height: 30vh;
  background: #252525;
  padding: 2vh 1vw 2vh 1.25vw;
  border-radius: 1.5vh;
}

.addSprint__sprintName {
  color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0vh;
  margin-bottom: 1.15vh;
  font-size: 1.15vw;
}

.addSprint__time {
  margin-top: 3vh;
}

.addSprint__dateInput {
  background: #252525;
  color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  padding: 0.5vh 0.5vw;
  outline: none;
  height: 6vh;
  width: 95%;
  border-radius: 1vh;
  border: 0.1vh solid #ff8c42;
  margin-bottom: 1.5vh;
  overflow: hidden;
  margin-top: 1vh;
  font-weight: 500;
}

.addSprint__buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
  margin-bottom: 2vh;
}
