.sidebar {
  height: 90vh;
  width: 15vw;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__container {
  height: 72vh;
  width: 100%;
  background-color: #252525;
  margin-top: 6vh;
  border-radius: 0vh 2.5vh 2.5vh 0vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sidebar__tab {
  color: #5f5f5f;
  cursor: pointer;
  display: flex;
  font-size: 1.2vw;
  align-items: center;
  margin: 2vh 0vh;
  text-decoration: none;
}

.sidebar__tab:hover {
  color: #ff8c42;
}

.sidebar__tabIcon {
  margin-left: 2vw;
  margin-right: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
