.sidebar {
  height: 90vh;
  width: 18vw;
  background-color: #101522;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__container {
  height: 72vh;
  width: 100%;
  background-color: #1f2430;
  margin-top: 6vh;
  border-radius: 0vh 2.5vh 2.5vh 0vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sidebar__tab {
  color: #62656c;
  cursor: pointer;
  display: flex;
  font-size: 1.1vw;
  align-items: center;
  margin: 2.25vh 0vh;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  font-weight: 500;
  font-family: 'Montserrat';
}

.sidebar__tab:hover {
  color: #5bc0eb;
}

.sidebar__tabIcon {
  margin-left: 2vw;
  margin-right: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
