.dropdown {
  width: 100%;
  height: 100%;
  z-index: 500;
}

.dropdown__text {
  padding-left: 1vw;
  padding-right: 1vw;
  color: #f5f9e9;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.dropdown__text:hover {
  color: #f5f9e9;
}

.dropdown__text:after {
  content: '';
  transition: all 0.3s;
  border: solid #5bc0eb;
  border-width: 0 0.1vh 0.1vh 0;
  float: right;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: 2vw;
  padding: 0.5vh;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.dropdown.active .dropdown__text:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown__items {
  position: relative;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  transition: max-height 0.5s ease-in-out;
}

.dropdown.active .dropdown__items {
  visibility: visible;
  max-height: 20vh;
  overflow-y: scroll;
  opacity: 1;
  transition: max-height 0.5s, opacity 0.5s, visibility 0.5s ease-in-out;
  width: 98%;
  margin-left: 0.1vw;
  background-color: #1f2430;

  border-bottom: 0.1vh solid #101522;

  border-bottom-left-radius: 1.5vh;
  border-bottom-right-radius: 1.5vh;
}

.dropdown.active .dropdown__items::-webkit-scrollbar {
  display: none;
}

.dropdown__item {
  cursor: pointer;
  margin-top: 1vh;
  padding: 1vh 1vw;
  height: 1.5vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 0.1vh solid #101522;
}

.dropdown__item:hover {
  color: #5bc0eb;
  background: #1f2430;
}
