.navbar {
  height: 9.8vh;
  position: sticky;
  background-color: #101522;
  border-bottom: 0.2vh solid #5bc0eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  color: #5bc0eb;
  font-family: 'Righteous';
  margin-left: 2vw;
  font-size: 4vh;
  cursor: pointer;
}

.navbar__right {
  margin-right: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__icon {
  color: #62656c;
  margin-left: 3vw;
  margin-right: 3vw;
  cursor: pointer;
}

.navbar__profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.2vh solid #5bc0eb;
  min-width: 6.5vw;
  padding: 0.5vh;
  border-radius: 5vh;
  cursor: pointer;
}
