.navbar {
  height: 9.8vh;
  position: sticky;
  background-color: #101522;
  border-bottom: 0.2vh solid #5bc0eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  color: #5bc0eb;
  font-family: 'Righteous';
  margin-left: 2vw;
  font-size: 4vh;
  cursor: pointer;
}

.navbar__right {
  margin-right: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__icon {
  color: #62656c;
  margin-left: 3vw;
  margin-right: 3vw;
  cursor: pointer;
  position: relative;
}

.navbar__profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.2vh solid #5bc0eb;
  min-width: 6.5vw;
  padding: 0.5vh;
  border-radius: 5vh;
  cursor: pointer;
}

.navbar__shakeIcon {
  color: #5bc0eb;
  position: relative;
}

.shake {
  animation: shake 1s infinite;
  -webkit-animation: shake 1s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(-8deg);
  }
  8% {
    transform: rotate(8deg);
  }
  16% {
    transform: rotate(-8deg);
  }
  24% {
    transform: rotate(8deg);
  }
  32% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(8deg);
  }
  48% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.navbar__notificationNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #de3c4b;
  color: #f5f9e9;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-size: 1vw;
  border-radius: 50%;
  height: 2.8vh;
  width: 2.8vh;
  position: absolute;
  top: -7px;
  right: -11px;
}
