.Nav {
  background: transparent;
  height: 10vh;
  margin-top: -10.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 0.5vh solid #ff8c42;
}

.scrollNav {
  background: #000;
}

.NavbarContainer {
  display: flex;
  justify-content: space-between;
  height: 9.5vh;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1100px;
}

.NavLogo {
  color: #ff8c42;
  justify-self: flex-start;
  cursor: pointer;
  font-size: 4vh;
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Righteous';
}

.MobileIcon {
  display: none;
}

.NavMenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;
}

.NavItem {
  height: 80px;
}

.NavLinks {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.activeFromLanding {
  height: 85%;
  border-bottom: 5px solid #ff8c42;
  transition: all 0.2s ease-in-out;
}

.NavBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavBtnLink {
  border-radius: 50px;
  background: #ff8c42;
  white-space: nowrap;
  padding: 7px 10px;
  color: #121212;
  text-decoration: none;
  font-size: 11px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.NavBtnLink:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #121212;
}

@media screen and (max-width: 760px) {
  .Nav {
    transition: 0.8s all ease;
  }

  .MobileIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }

  .NavMenu {
    display: none;
  }

  .NavBtn {
    display: none;
  }
}
